<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="test.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="test.Perspective"
            fixed="true"
            id="test.perspective"
            name="test Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.dy.view.view1"
            icon="icons/alt_window_32.gif"
            id="view1"
            name="Navigator"
            restorable="true">
      </view>
      <view
            class="com.dy.view.view2"
            icon="icons/alt_window_32.gif"
            id="view2"
            name="SampleView1"
            restorable="true">
      </view>
      <view
            class="com.dy.view.view3"
            icon="icons/alt_window_32.gif"
            id="view3"
            name="SampleView2"
            restorable="true">
      </view>
      <view
            class="com.dy.view.view4"
            icon="icons/alt_window_32.gif"
            id="view4"
            name="name"
            restorable="true">
      </view>
   </extension>
  <extension
         id="test"
         point="org.eclipse.ui.editors">
      <editor
            class="com.dy.editor.editorOne"
            contributorClass="com.dy.editor.EditorContribute"
            default="false"
            icon="icons/alt_window_32.gif"
            id="test.editor1"
            name="员工档案">
      </editor>
      <editor
            class="com.dy.muleditors.MulEditor"
            default="false"
            icon="icons/alt_window_16.gif"
            id="test.editor2"
            name="多页编辑器">
      </editor>
      <editor
            class="com.dy.sampleEditor.SampleEditor"
            default="false"
            id="editor3"
            name="View2Editor">
      </editor>
      <editor
            class="com.dy.editor.SalaryEditor"
            default="false"
            id="SalaryEditor"
            name="员工薪资">
      </editor>
   </extension>
  <extension
        point="org.eclipse.ui.viewActions">
        <!--ViewContribution用来定义一组视图操作或菜单操作-->
     <viewContribution
           id="viewContribution1"
           targetID="org.eclipse.ui.views.ResourceNavigator">
        <action
              class="com.dy.action.ViewActionDelegate"
              icon="icons/sample.gif"
              id="action1"
              label="ViewAction"
              menubarPath="additions"
              style="push"
              toolbarPath="additions">
        </action>
     </viewContribution>
  </extension>
<extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="com.actionset"
           label="Sample Action set"
           visible="true">
        <menu
              id="sampleMenu"
              label="Sample&amp;Menu">
           <separator
                 name="sampleGroup">
           </separator>
        </menu>
        <action
              class="com.dy.action.ActionSet"
              icon="icons/sample.gif"
              id="com.dy.action.ActionSet"
              label="&amp;OpenPlugin"
              menubarPath="sampleMenu/sampleGroup"
              toolbarPath="sampleGroup"
              tooltip="Hello,Eclipse World">
        </action>
     </actionSet>
  </extension>
  
  
  
 <extension
		point="org.eclipse.ui.editorActions">
    <editorContribution
          id="editorContribution1"
          targetID="file">
       <menu
             id="menus"
             label="&amp;Edit"
             path="file">
          <separator
                name="separator1">
          </separator>
       </menu>
       <action
             class="com.dy.action.sampleAction"
             icon="icons/alt_window_16.gif"
             id="test.action1"
             label="SampleEditorAction"
             menubarPath="menus/separator1"
             style="push"
             toolbarPath="Normal/additions">
       </action>
    </editorContribution>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          class="com.dy.wizard.ImportWizard"
          id="importWizard"
          name="Import">
    </wizard>
    <wizard
          class="com.dy.wizard.NewWzard"
          id="test.wizard1"
          name="NewWizard">
    </wizard>
 </extension>
 
 
	<!--<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="样本操作集"
            visible="true"
            id="menuplugin.actionSet">
         <menu
               id="menu"                          
               label="目录"
               >
            <separator
                  name="slot1">                   
            </separator>
            <separator
                name="slot2">                   
            </separator>
         </menu>
         <action
               class=""
               id="Acion2"
               label="样本操作2"
               menubarPath="menu/slot2"            
               tooltip="Hello，Eclipse world">
         </action>
               
         <menu
               id="submenu"
               label="子目录"
               path="menu/slot1">                  
            <separator 
             name="slot3">
            </separator>
         </menu>
         <action
               class=""
               id="Action3"
               label="样本操作3"
               menubarPath="menu/submenu/slot3"      
               tooltip="Hello，Eclipse world">
         </action>          
         <action
               class=""
               id="Acion4"
               label="样本操作4"
               menubarPath="menu/submenu/slot3"     
               tooltip="Hello，Eclipse world">
         </action>
               
      </actionSet>
   </extension>-->
</plugin>
